@model LearnerProject.Models.Entitities.Teacher
@{
    ViewBag.Title = "AddTeacher";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Egitmen Ekleme Sayfasi</h2>

<form method="post">

    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />

    <label>Kullanici Adi (Surname)</label>
    @Html.TextBoxFor(x => x.UserSurname, new { @class = "form-control" })
    <br />

    <label>Sifre</label>
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-primary">KAYDET</button>
</form>
