@model List<LearnerProject.Models.Entitities.Message>

<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
    <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>

    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa fa-envelope me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">Mesajlar</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                @foreach (var item in Model)
                {
                    <a href="/AdminMessage/UpdateMessage/@item.MessageId" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            @if (item.IsRead == true)
                            {
                                <div class="btn btn-sm-square bg-success text-white rounded-circle me-3">
                                    <i class="fa fa-check"></i>
                                </div>
                            }
                            else
                            {
                                <div class="btn btn-sm-square bg-primary text-white rounded-circle me-3">
                                    <i class="fa fa-exclamation"></i>
                                </div>
                            }

                            <div class="ms-2">
                                <h6 class="fw-normal mb-0">@item.NameSurname bir mesaj gönderdi</h6>
                                <small>@(item.Subject.Length > 20 ? item.Subject.Substring(0, 20) + "..." :
                                     item.Subject)</small>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                }
                <a href="/AdminMessage/Index" class="dropdown-item text-center">Tüm Mesajları Gör</a>
            </div>
        </div>
    </div>
</nav>