@model LearnerProject.Models.Entitities.FAQ
@{
    ViewBag.Title = "UpdateFAQ";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>UpdateFAQ Sayfasi </h2>

<form method="post">
    @Html.HiddenFor(x => x.FAQId)
    @Html.TextBoxFor(x => x.Question, new { @class = "form-control mb-4" , @placeholder = "Question" })
    @Html.TextBoxFor(x => x.Answer, new { @class = "form-control mb-4" , @placeholder = "Answer" })
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control mb-4" , @placeholder = "Image URL" })
    <button class="btn btn-outline-primary"><i class="fa fa-edit"> Güncelle </i></button>
</form>

