@model LearnerProject.Models.Entitities.Banner
@{
    ViewBag.Title = "UpdateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Banner Guncelleme Sayfasi</h2>

<form method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.BannerId)

    <label>Resim Secin</label>
    <input type="file" name="imageUrl" class="form-control" />
    <br />

    <label>Baslik</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-primary">Guncelle</button>

</form>
