@model LearnerProject.Models.Entitities.Review
@{
    ViewBag.Title = "AddReview";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Gorus/Review Ekleme Sayfasi</h2>

<form method="post">

    <label>Kurs ID</label>
    @Html.TextBoxFor(x => x.CourseId, new { @class = "form-control" })
    <br />

    <label>Ogrenci ID</label>
    @Html.TextBoxFor(x => x.StudentId, new { @class = "form-control" })
    <br />

    <label>Puan (1-5)</label>
    @Html.TextBoxFor(x => x.ReviewValue, new { @class = "form-control" })
    <br />

    <label>Yorum</label>
    @Html.TextAreaFor(x => x.Comment, new { @class = "form-control", rows=5 })
    <br />

    <button class="btn btn-outline-primary">KAYDET</button>
</form>
