@model List<LearnerProject.Models.Entitities.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Category</h3>
@{
    int count = 0;
}

<table class="table table-bordered table-hover"  >
    <tr>
        <th>#</th>
        <th>Kategori Adi</th>
   
        <th>Islemler</th>

    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.CategoryName</td>
           
            <td>
                @*// i icon eklemek icin*@
                <a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-outline-danger" > <i class="fa fa-trash>" ></i> SIL</a>
                <a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-outline-danger"> <i class="fa fa-pen>"> </i> GUNCELLE</a>

            </td>
        </tr>
       
            
    }

</table>
<a href="/Category/AddCategory" class="btn btn-outline-primary">EKLE</a>

