@model LearnerProject.Models.Entitities.Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Kategori Guncelleme Sayfasi</h2>

<form method="post">
    @* hiddenfor ile id'yi goruyoruz *@
    @Html.HiddenFor(x=>x.CategoryId) 

    <label>Kategori Adi</label>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />

    <label>Icon</label>
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-primary">Guncelle</button>

</form>